.container {
  width: $mobile-container-width;
  margin: 0 auto;
}

@media (min-width: $tablet-width) {
  .container {
    width: $tablet-container-width;
  }
}

@media (min-width: $desktop-width) {
  .container {
    width: $desktop-container-width;
  }
}
