.main-nav {
  &--open .main-nav__toggle-close {
    display: block;
  }
  &--open .main-nav__list {
    display: block;
  }
  &--close .main-nav__toggle-hamburger {
    display: block;
  }
  &--close .main-nav__list {
    display: none;
  }
  &--no-js .main-nav__toggle {
    display: none;
  }
  &--no-js .main-nav__list {
    display: block;
  }
}
.main-nav__logo {
  padding: 24px 0 20px;
}
.main-nav__list {
  display: none;
  @include reset-list;
  padding-bottom: 20px;
}
.main-nav__item a {
  display: inline-block;
  font-size: 14px;
  text-transform: uppercase;
  text-decoration: none;
  color: rgba(255,255,255,.8);
  cursor: pointer;
}
.main-nav__item a[href]:focus,
.main-nav__item a[href]:hover {
  color: #ffffff;
}
.main-nav__item {
  display: block;
  padding: 5px 0;
  text-align: center;
  &--active a {
    position: relative;
    color: #ffffff;
    &::before {
      position: absolute;
      bottom: 0;
      display: block;
      width: 100%;
      height: 1px;
      background-color: #ffffff;
      content: "";
    }
  }
}
.main-nav__toggle {
  position: absolute;
  right: 0;
  top: 22px;
  padding: 0;
  background-color: transparent;
  border: none;
}
.main-nav__toggle-hamburger {
  display: none;
  height: 29px;
  width: 25px;
  background: url("../img/bars-solid.svg") no-repeat center;
}
.main-nav__toggle-close {
  display: none;
  height: 29px;
  width: 25px;
  background: url("../img/times-solid.svg") no-repeat center;
}
.main-nav__logo-wrapper {
  position: relative;
}

@media (min-width: $tablet-width) {
  .main-nav .main-nav__list {
    display: flex;
    padding: 0;
  }
  .main-nav__item {
    margin: 24px 20px;
    padding: 0;
    &:first-child {
      margin-left: 0;
    }
    &:last-child {
      margin-right: 0;
    }
  }
  .main-nav__toggle {
    display: none;
  }
  .main-nav__container {
    display: flex;
  }
  .main-nav__logo {
    margin-right: 100px;
  }
}

@media (min-width: $desktop-width) {
  .main-nav__logo {
    margin-right: 200px;
  }
}
