.page-main {
  padding: 50px 0;
}

.page-main__title {
  margin: 0;
  font-size: 28px;
  font-weight: bold;
  line-height: 1.2;
  text-align: center;
}

.page-main__subtitle {
  margin: 10px 0;
  font-size: 16px;
  text-align: center;
  color: #919191;
}
