.social-btn {
  text-align: center;
}

.social-btn__list {
  @include reset-list;
}

.social-btn__item {
  display: inline-block;
  margin-right: 20px;
  &:last-child {
    margin-right: 0;
  }
}

.social-btn__item a {
  display: block;
  color: #ffffff;
  opacity: 0.5;
}

.social-btn__item a[href]:focus,
.social-btn__item a[href]:hover {
  opacity: 1;
}
