$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1024px;

$mobile-container-width: 300px;
$tablet-container-width: 748px;
$desktop-container-width: 1004px;

$color-red: #dd3f46;
